[jenkins]
base_url=<Base URL for the Jenkins in Question>
username=<username>
password=<password>
default_generator=<Default Generator Name>
jenkins_label=<Human Readable Name for Jenkins ex-'Web UI Team Jenkins'>

# Optional, only used if using a self signed cert not in standard CA certs
# insecure=True
